<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <title>LYRASOFT 織女星科技</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="歡迎蒞臨 LYRASOFT，我們是 Web 企業雲端資訊系統應用專家。" />
    <meta property="og:image" content="http://i.imgur.com/wwDb75k.jpg">
    <meta property="og:title" content="LYRASOFT 織女星科技">
    <meta property="og:site_name" content="LYRASOFT 織女星科技">
    <meta property="og:description" content="歡迎蒞臨 LYRASOFT，我們是 Web 企業雲端資訊系統應用專家。">
    <!--[if lte IE 8]><script src="{{ uri.media }}js/html5shiv.js"></script><![endif]-->
    <script src="{{ uri.media }}js/jquery.min.js"></script>
    <script src="{{ uri.media }}js/skel.min.js"></script>
    <script src="{{ uri.media }}js/skel-layers.min.js"></script>
    <script src="{{ uri.media }}js/smooth-scroll.js"></script>
    <script src="{{ uri.media }}js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="{{ uri.media }}css/skel.css" />
        <link rel="stylesheet" href="{{ uri.media }}css/style.css" />
        <link rel="stylesheet" href="{{ uri.media }}css/style-xlarge.css" />
    </noscript>
</head>
<body class="landing">

<!-- Header -->
<header id="header">
    <h1><a href="{{ uri.base }}index.html">LYRASOFT 織女星科技</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ uri.base }}">Home</a></li>
            <li><a data-scroll href="#one">Service</a></li>
            <li><a data-scroll href="#two">Works</a></li>
            <li><a data-scroll href="#three" class="button special">Contact</a></li>
        </ul>
    </nav>
</header>

<!-- Banner -->
<section id="banner">
    <h2>歡迎蒞臨 LYRASOFT</h2>
    <p class="title-font">我們是 Web 企業雲端資訊系統應用專家</p>
    <ul class="actions">
        <li>
            <a data-scroll href="#three" class="button big">與我們聯絡</a>
        </li>
    </ul>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="container">
        <header class="major">
            <h2>我們的專長</h2>
            <p class="title-font">提供企業一個穩定、高效的團隊合作技術環境</p>
        </header>
        <div class="row 150%">
            <div class="4u 12u$(medium)">
                <section class="box">
                    <i class="icon big rounded color1 fa-cloud"></i>
                    <h3>雲端企業應用</h3>
                    <p>企業 ERP、CRM，NGO 管理系統、內部流程控管、人力資源等重要的企業內部資訊系統，並以最新的雲端科技實現。</p>
                </section>
            </div>
            <div class="4u 12u$(medium)">
                <section class="box">
                    <i class="icon big rounded color9 fa-desktop"></i>
                    <h3>跨裝置應用程式開發</h3>
                    <p>網站、手機 APP、各類平板或電腦應用程式開發，API 設計與串聯。並提供企劃、介面設計、維運與行銷等服務。</p>
                </section>
            </div>
            <div class="4u$ 12u$(medium)">
                <section class="box">
                    <i class="icon big rounded color6 fa-rocket"></i>
                    <h3>教育訓練</h3>
                    <p>提供企業內部程式開發、團隊合作等教育訓練，協助媒合人才，提供中大型企業或新創事業優秀的開發技術環境。</p>
                </section>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2 special">
    <div class="container">
        <header class="major">
            <h2>我們的作品</h2>
            <p class="title-font">織女星科技是台灣少數能在全球販售企業用資訊系統的公司</p>
        </header>
        <section class="profiles">
            <div class="row">
                <section class="4u 12u$(xsmall)">
                    <img src="http://about.asika.tw/images/logos/windwalker.jpg" alt="" class="img-responsive work-img" />
                    <h3>Windwlaker PHP 框架</h3>
                    <p>一個全新的、現代化的 PHP 框架，擁有優秀的執行效能與健壯的開發架構。</p>
                </section>
                <section class="4u 6u(medium) 12u$(xsmall)">
                    <img src="http://i.imgur.com/iOCRuIt.jpg" alt="" class="img-responsive work-img" />
                    <h3>Joomla 生產力套件系列</h3>
                    <p>國內唯一有能力在全世界銷售 Joomla 商業套件的團隊。</p>
                </section>
                <section class="4u 6u(medium) 12u$(xsmall)">
                    <img src="http://i.imgur.com/mk9c9ty.jpg" alt="" class="img-responsive work-img" />
                    <h3>Facebook 匯入工具</h3>
                    <p>將 Facebook 粉絲頁 PO 文匯入到網站中，增加 SEO 效果。</p>
                </section>
            </div>
            <div class="row">
                <section class="4u 6u(medium) 12u$(xsmall)">
                    <img src="http://i.imgur.com/50QbFUu.jpg" alt="" class="img-responsive work-img" />
                    <h3>專利年費管理系統</h3>
                    <p>可查詢、登記、通知每年度專利到期與各國重要資訊之系統。</p>
                </section>
                <section class="4u 6u(medium) 12u$(xsmall)">
                    <img src="http://i.imgur.com/EBCKj82.jpg" alt="" class="img-responsive work-img" />
                    <h3>校園設備與教室租借系統</h3>
                    <p>可新增、編輯、管理系所或單位內的機器設備，並開放使用者預約登記。</p>
                </section>
                <section class="4u 6u(medium) 12u$(xsmall)">
                    <img src="http://i.imgur.com/2kcPblx.jpg" alt="" class="img-responsive work-img" />
                    <h3>雲端點餐系統後台管理</h3>
                    <p>可由後台新增、編輯菜單，並統計每月銷售狀態。</p>
                </section>
            </div>
            <div class="row">
                <section class="4u 6u(medium) 12u$(xsmall)">
                    <img src="http://i.imgur.com/Ub8YoeH.jpg" alt="" class="img-responsive work-img" />
                    <h3>內部 ERP, CRM</h3>
                    <p>企業內部流程控管與客戶關係管理系統，加速內部營運流程，也適合 NGO 管理捐款會員等等。</p>
                </section>

                <section class="4u 6u(medium) 12u$(xsmall)">
                    <img src="http://i.imgur.com/vc6ZO67.jpg" alt="" class="img-responsive work-img" />
                    <h3>UI 規劃與 Prototype 原型設計</h3>
                    <p>根據訪客需求、操作行為設計合適 UI 介面，並製作可動原型供企業參考。</p>
                </section>
                <section class="4u 6u(medium) 12u$(xsmall)">
                    <img src="http://i.imgur.com/JFy20ue.jpg" alt="" class="img-responsive work-img" />
                    <h3>課程報名管理系統</h3>
                    <p>可由後台新增、編輯課程與梯次，並在前台開放會員報名課程，並透過金流管道繳費。</p>
                </section>
            </div>
        </section>
        <footer>
            {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolore illum, temporibus veritatis eligendi, aliquam, dolor enim itaque veniam aut eaque sequi qui quia vitae pariatur repudiandae ab dignissimos ex!</p>#}
            <ul class="actions">
                <li>
                    <a href="http://simular.co/lyra" class="button big" target="_blank">更多作品</a>
                </li>
            </ul>
        </footer>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>聯絡我們</h2>
            <p class="title-font">讓我們替您規劃合適方案</p>
            <p>service@lyrasoft.net</p>

            {#<p>LARYSOFT 目前產能已滿，為維持開發品質，我們暫時停止新案件接洽，若有任何問題，請隨時與我們聯絡</p>#}
        </header>
    </div>
    <div class="container 50%">
        <form action="https://docs.google.com/a/SOMEDOMAIN.com/forms/d/1mSW4dv4LBgJrrJJLVj1ef_fapaw_684WsMSVBtoc-z0/formResponse" method="post">
            <div class="row uniform">
                <div class="6u 12u$(small)">
                    <input name="entry.943046700" id="name" value="" placeholder="Name" type="text">
                </div>
                <div class="6u$ 12u$(small)">
                    <input name="entry.1370730247" id="email" value="" placeholder="Email" type="email">
                </div>
                <div class="12u$">
                    <textarea name="entry.962046989" id="message" placeholder="Message" rows="6"></textarea>
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input value="送出訊息" class="special big" type="submit"></li>
                    </ul>
                </div>
            </div>
        </form>

        <hr style="border-bottom: solid 1px rgba(255, 255, 255, 0.25); margin-top: 3em;" />

        <p style="margin-bottom: 0">
            &copy; <a style="color: #eee;" href="http://megamount.tw" target="_blank">百岳國際股份有限公司</a>. All rights reserved.
        </p>
    </div>
</section>

{#<!-- Footer -->#}
{#<footer id="footer">#}
    {#<div class="container">#}
        {#<section class="links">#}
            {#<div class="row">#}
                {#<section class="3u 6u(medium) 12u$(small)">#}
                    {#<h3>Lorem ipsum dolor</h3>#}
                    {#<ul class="unstyled">#}
                        {#<li><a href="#">Lorem ipsum dolor sit</a></li>#}
                        {#<li><a href="#">Nesciunt itaque, alias possimus</a></li>#}
                        {#<li><a href="#">Optio rerum beatae autem</a></li>#}
                        {#<li><a href="#">Nostrum nemo dolorum facilis</a></li>#}
                        {#<li><a href="#">Quo fugit dolor totam</a></li>#}
                    {#</ul>#}
                {#</section>#}
                {#<section class="3u 6u$(medium) 12u$(small)">#}
                    {#<h3>Culpa quia, nesciunt</h3>#}
                    {#<ul class="unstyled">#}
                        {#<li><a href="#">Lorem ipsum dolor sit</a></li>#}
                        {#<li><a href="#">Reiciendis dicta laboriosam enim</a></li>#}
                        {#<li><a href="#">Corporis, non aut rerum</a></li>#}
                        {#<li><a href="#">Laboriosam nulla voluptas, harum</a></li>#}
                        {#<li><a href="#">Facere eligendi, inventore dolor</a></li>#}
                    {#</ul>#}
                {#</section>#}
                {#<section class="3u 6u(medium) 12u$(small)">#}
                    {#<h3>Neque, dolore, facere</h3>#}
                    {#<ul class="unstyled">#}
                        {#<li><a href="#">Lorem ipsum dolor sit</a></li>#}
                        {#<li><a href="#">Distinctio, inventore quidem nesciunt</a></li>#}
                        {#<li><a href="#">Explicabo inventore itaque autem</a></li>#}
                        {#<li><a href="#">Aperiam harum, sint quibusdam</a></li>#}
                        {#<li><a href="#">Labore excepturi assumenda</a></li>#}
                    {#</ul>#}
                {#</section>#}
                {#<section class="3u$ 6u$(medium) 12u$(small)">#}
                    {#<h3>Illum, tempori, saepe</h3>#}
                    {#<ul class="unstyled">#}
                        {#<li><a href="#">Lorem ipsum dolor sit</a></li>#}
                        {#<li><a href="#">Recusandae, culpa necessita nam</a></li>#}
                        {#<li><a href="#">Cupiditate, debitis adipisci blandi</a></li>#}
                        {#<li><a href="#">Tempore nam, enim quia</a></li>#}
                        {#<li><a href="#">Explicabo molestiae dolor labore</a></li>#}
                    {#</ul>#}
                {#</section>#}
            {#</div>#}
        {#</section>#}
        {#<div class="row">#}
            {#<div class="8u 12u$(medium)">#}
                {#<ul class="copyright">#}
                    {#<li>&copy; Untitled. All rights reserved.</li>#}
                    {#<li>Design: <a href="http://templated.co">TEMPLATED</a></li>#}
                    {#<li>Images: <a href="http://unsplash.com">Unsplash</a></li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="4u$ 12u$(medium)">#}
                {#<ul class="icons">#}
                    {#<li>#}
                        {#<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</footer>#}
<script>
    smoothScroll.init();
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59448570-10', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
